/* html{
    scroll-behavior: smooth;
} */

.faq__title__container{
    max-width: 740px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}

.faq__title__container .title_container .title.title-text{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 12px;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-weight: 400;
    text-align: center;
    color: #3e4827;
}


.faq__title__container .title_container .text{
    text-align: center;
    
}

.text{
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 2;
    color: #212322 !important;
    font-weight: 400 !important;
}

.faq__title__container.faq-headline{
    margin: 30px auto 60px;
}

.faq__wrapper{
    max-width: 740px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto 40px;
    
}

.faq__wrapper .title_container{
    margin-bottom: 20px;
}



.faq__category{
    text-align: left;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #3e4827;
}

.letter-spacing_1px{
    letter-spacing: 1px !important;
}

.faq-question__container{
    display: flex;
    align-items: flex-start;
    position: relative;

    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

.faq-question__container .faq-categories{
    position: sticky;
    top: 18px;
    width: 250px;
    align-self: flex-start;
}

.container__faqs{
    padding: 0 30px;
}

.faq-category-item{
    text-transform: uppercase;
    cursor: pointer;
    color: #212322;
    transition: opacity .2s ease-in-out;
}


.faq-category-item:hover{
   opacity: .7;
}

@media(max-width: 1050px){
    .faq-question__container{
        display: block;
    
        width: 100%;
        max-width: 740px;
        margin: 0 auto;
    }
    
    .faq-question__container .faq-categories{
        display: none;
    }
}

@media(max-width: 750px){
    .faq__title__container{
        padding: 0 18px;
    }

    .faq__wrapper{
        padding: 0 18px;
        
    }

    .faq__title__container .title_container .title.title-text{
        font-size: 20px;
    }

    .container__faqs{
        padding: 0 0px;
    }
}