header{
    height: calc(53px + 35px);
    width: 100%;
    min-height: 54px;
    border-bottom: 1px solid transparent;
    background-color: #d6d2c4;
    position: relative;
}

.header__logo{
    height: calc(53px + 35px);
    display: flex;
    justify-content: center;
    align-items: center;

    /* position: absolute;
    right: 0;
    left: 0;
    top: 0;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    max-width: 420px;
    width: fit-content; */
}

.header__logo-ratio-box{
    aspect-ratio: 4.5 / 1;
    height: 53px;
    display: flex;
    justify-content: center;
    
}

.header__logo-ratio-box img{
    max-height: 53px;
    width: 100%;
    height: 100%;
}

.header-navs{
    width: 100%;
    height: 32px;
    padding: 0 30px;
}

.primary-nav{
    position: absolute;
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
}

.primary-nav__items{
    display: flex;
    align-items: center;
}

.primary-nav__item{
   padding-right: 36px;
   text-transform: uppercase;
   letter-spacing: 1px;
}
.primary-nav__item .primary-nav__link{
    display: block;
    line-height: 33px;
    cursor: pointer;
    height: 32px;
    color: #212322;
    font-size: 14px;

    transition: color 0.3s ease;
    position: relative;
    display: inline-block;
}

.primary-nav__item .primary-nav__link:hover{
    color: rgba(33, 35, 34, 0.7);
}

.primary-nav__item .primary-nav__link::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgba(33, 35, 34, 0.7); /* Adjust the color */
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.primary-nav__item .primary-nav__link:hover::after{
    width: 100%;
    
}

.subnav-container{
    position: absolute;
    text-align: left;
    font-size: .875rem;
    z-index: 10;

    background-color: #d6d2c4;
    padding: 12px 18px;
    min-width: 160px;
    max-width: 270px;
    width: max-content;
    box-shadow: 0 8px 24px 0 rgba(33, 35, 34, 0.08);

    display: none; /* Keep it hidden by default */
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.1s ease-in-out;
    
}



.subnav-menu__link{
    display: block;
    color: rgba(33, 35, 34, 0.7);
    width: 100%;
    line-height: 1.5;
    cursor: pointer;
    padding: .5em .4em;
    border-radius: 4px;
    font-size: .875em;

    
}

.subnav-menu__link:hover{
    background-color: rgba(33, 35, 34, 0.1);
    
}

.secondary-nav{
    position: absolute;
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
}

.secondary-nav__link {
    font-size: 18px;
}

.secondary-nav__items.secondary-nav__actions{
    display: flex;
    align-items: end;
}

.secondary-nav__item{
    margin-left: 30px;
}

.secondary-nav__item:hover{
    color: rgba(33, 35, 34, 0.7);
}

.secondary-nav__link.icon-cart-svg{
    position: relative;
    
}

.secondary-nav__link.icon-cart-svg:hover{
    position: relative;
    
}

.secondary-nav__link .icon-cart{
    display: block;

}

.secondary-nav__link .icon-cart:hover{
    color: rgba(33, 35, 34, 0.7);

}



.cart-count-bubble{
    position: absolute;
    top: -5px;
    right: -5px;
    min-width: 14px;
    line-height: 12px;
    font-size: 9px;
    padding: 1px 3px;
    text-align: center;
    letter-spacing: 0;
    border-radius: 15px;
    background-color: #212322;
}

.cart-count-bubble .item-count{
    color: #ffffff;
}


/* SHOPPING CART POPUP */

.shopping-cart__popup__bg{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b66;
    opacity: .5;

    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

.shopping-cart__popup__bg.cart-active{
    opacity: 1;
    visibility: visible;
}

.shopping-cart__popup{
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    top: 0;
    left: auto;
    
    width: 480px;
    max-width: calc(100vw - 24px);
    overflow: hidden auto;
    background-color: #ffffff;

    transition: right 0.5s ease-in-out;
    right: -100%;
}

.shopping-cart__popup.cart-active{
    right: 0;
}

.shopping-cart__wrapper{
    padding-top: 42px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    height: 100dvh;
}

.shopping-cart__head{
    padding: 0 42px;
    display: flex;
    flex: 0 0 auto;
    justify-content: start;
    align-items: baseline;
    position: relative;
    text-align: left;
    gap: 9px;
}

.shopping-cart__title{
    padding-bottom: calc(1.15rem + 3px); 
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 20px;
    position: relative;
}

.shopping-cart__title::after{
    content: "";
    width: 36px;
    height: 3px;
    background: #d6d2c4;
    position: absolute;
    left: 0;
    bottom: 0;
}

.shopping-cart__quantity{
    font-size: calc((17px / 14px)* .75rem);
    margin-bottom: -.25em;
    color: #212121b3;
}

.shopping-cart__close-btn{
    position: absolute;
    right: 24px;
    top: -18px;
    left: auto;
    
}

.shopping-cart__close-btn i {
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}

.shopping-cart__empty{
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    padding: 12px 0;
    
}

.shopping-cart__empty__title{
    margin: 25px 0;
    font-size: 18px;
}



.shopping-cart__empty__btn{
    width: 300px;
    max-width: 100%;
    background-color: #d6d2c4;

    display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    margin: 0;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: auto;
    line-height: 30px;
    padding: 9px 30px;
    font-size: 13px / 14px * 1rem;
    color: #3e4827;
    transition: all .2s ease-in-out;
}

.shopping-cart__empty__btn:hover{

    background-color: #ccc7b5;

    
}

.shopping-cart_items__container{
    overflow: scroll;

    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    gap: 0;
}

.shopping-cart_items__container::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.shopping-cart_items__content{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 30px;
    position: relative;
}

.shopping-cart_items__content::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
}

.shopping-cart_items__item{
    padding: 0 42px;

    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: minmax(80px, 2fr) minmax(0, 8fr);
    justify-items: start;
    align-items: start;
    column-gap: 18px;
}

.shopping-cart_items__item:not(:last-of-type){
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(33, 35, 34, 0.2);
}

.shopping-cart_items__item:last-of-type{
    padding-bottom: 30px;
}

.shopping-cart_items__item .item__image img{
    object-fit: contain;

    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.shopping-cart_items__item .item__details{
    width: 100%;
    grid-template-columns: minmax(0, 1fr) max-content;
    display: grid;
    column-gap: 18px;
}

.item__details__title{
    font-size: 1.045rem;
    line-height: 1.5rem;
    color: #212121;
}

.item__details__price{
    font-size: 1.045rem;
    position: relative;
    min-width: 50px;
    align-self: start;
    justify-self: end;
    
}

.item__details__micro-copy{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-top: 15px;
    line-height: 18px;
    color: #212121b3;
    font-size: .9rem;
    line-height: 1.5;
}

.item__quantity{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: start;
    width: 100%;

    grid-area: 2 /2
}

.item__quantity__input{
    border-color: #21212133;

    display: flex;

    border: 1px solid rgba(33, 35, 34, 0.2);

    
}

.item__quantity__input .input__minus{
    font-size: .865rem;
    width: 1.9rem;
    height: 1.9rem;
    position: relative;

    outline-offset: -3px;

    cursor: pointer;
    background: transparent;
    padding: 0;

    text-align: center;
    border: 0;
    margin: 0;
    display: inline-block;
    line-height: 1;
    touch-action: manipulation;

    /* display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0; */
}

.item__quantity__input input{
    outline-offset: -3px;

    padding: 0;
    border-radius: 0;

    background: transparent;
    cursor: text;
    border-left: 1px solid rgba(33, 35, 34, 0.2);
    border-right: 1px solid rgba(33, 35, 34, 0.2);

    text-align: center;
    border-top: 0;
    border-bottom: 0;
    margin: 0;

    position: relative;
    display: inline-block;
    line-height: 1;

    touch-action: manipulation;

    vertical-align: middle;

    width: 2.375rem;
    color: #212121;
    border-color: #21212133;

    font-size: .865rem;
    height: 1.9rem;

    appearance: none;
}

/* For Chrome, Safari, Edge, and Opera */
.item__quantity__input input[type="number"]::-webkit-outer-spin-button,
.item__quantity__input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.item__quantity__input input[type="number"] {
  appearance: textfield;
}

.item__quantity__input .input__plus{
    font-size: .865rem;
    width: 1.9rem;
    height: 1.9rem;
    position: relative;

    outline-offset: -3px;

    cursor: pointer;
    background: transparent;
    padding: 0;

    text-align: center;
    border: 0;
    margin: 0;
    display: inline-block;
    line-height: 1;
    touch-action: manipulation;
}

.cart-item__remove{
    font-size:18px; 
    color: #212121;
    cursor: pointer;
}

.shopping-cart__controls{
    border-color: #21212133;
    flex: 0 0 auto;
    border-top: 1px solid #e5e5e5;
    padding: 0 0 25px;
}

.shopping-cart__details{
    margin-top: 0;
    margin-bottom: 12px;

    grid-template-rows: auto auto;
    display: grid;

    /* border-top: 2px solid #e5e5e5; */
}

.shopping-cart__order-details{
    margin-top: 24px;
    padding: 0 42px;

    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 0;
    text-align: right;
}

.shopping-cart__total{
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    margin: 0;

    line-height: 1.5;
}

.shopping-cart__message{
    color: #212121b3;

    text-align: left;

    font-size: .9rem;
    margin: -.25em 0;
    line-height: 1.5;
}

.shopping-cart__actions{
    padding: 0 42px;
    display: flex;
    gap: 20px;
}

.dark-outline{
   border: 1px solid #212121; 
   width: 100%;
}

.primary-full{
    background-color: #d6d2c4;
    color: #3e4827;
    width: 100%;
}

.check-out-btn{
    display: flex;
    gap: 6px;
    transition: all .2s ease-in-out;
}

.btn.primary-full .lock-icon{
    width: 1.4em;
    height: 1.4em;

    display: inline-block;
    margin-top: 3px;
}

.check-out-btn:hover{
    background-color: #ccc7b5;
}

.view-cart-btn{
    transition: all .2s ease-in-out;
}

.view-cart-btn:hover{
    background-color: #212121;
    color: #ffffff;
}
