.single-product_section{
    margin-top: 30px;
}

.single-product__container{
    padding: 0 30px;


    display: flex;
    gap: 30px;
}

.single-product__media{
    width: 60%;
}

.single-product__media .media-gallery{
    width: 100%;
    display: flex;
    gap: 1rem;
}

.media-gallery__main-image-wrapper {
    position: relative;
    display: flex;
    /* align-items: center; */
}

.main-arrow {
    background-color:#ffffff;
    border: none;
    font-size: 24px;
    cursor: pointer;

    width: 48px;
    height: 48px;
    color: rgba(33, 35, 34, 0.7);
    box-shadow: 0 0 4px rgba(33, 35, 34, 0.2);

    opacity: 0;
    transition: opacity 0.3s ease;

    top: 50%;
    transform: translate(0%, -50%);
}

.main-arrow.prev{
    position: absolute;
    left: 18px;  
}

.main-arrow.next{
    position: absolute;
    right: 18px;  
}

.media-gallery__main-image-wrapper:hover .main-arrow {
    opacity: 1;
}

.media-gallery__thumbnails-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* margin-top: 1rem; */
}

.media-gallery__thumbnails{
    width: 80px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 570px; /* 6 thumbnails x 80px each + 15px margin each */
    scroll-behavior: smooth;
}

.media-gallery__thumbnails .gallery-thumbnail{
    width: 80px;
    margin-bottom: 15px;

    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;

}

.gallery-thumbnail.active {
    border: 2px solid #000; /* highlight selected */
    opacity: 1;
}

.media-gallery__thumbnails .gallery-thumbnail img{
    width: 100%;
    display: block;
    object-fit: contain;

} 

.thumb-arrow {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: rgba(33, 35, 34, 0.7);
}

.thumb-arrow.prev{
    margin-bottom: 15px;
}


.media-gallery__main-image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.single-product__media .media-gallery .media-gallery__main-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;

} 

.single-product__details{
    width: 40%;
}

/* single-product__details */

.single-product__title{
    font-size: 1.8rem;
    margin-bottom: 18px;
    font-weight: 500;
    position: relative;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.single-product__title::after{
    content: "";
    width: 36px;
    height: 3px;
    background: #db864e;
    position: absolute;
    left: 0;
    bottom: 0;
}

.single-product__price{
    margin-top: 12px;
    margin-bottom: 12px;

    font-size: 1.45rem;
    line-height: 1.4;
}


.single-product__qty .qty-label{
    margin-bottom: .75em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.single-product__add-to-cart-btn{
    margin-top: 36px;
    margin-bottom: 12px;
}

.single-product__text-box{
    margin-top: 24px;
    margin-bottom: 24px;
}

.single-product__text-box .text-box__heading{
    margin-bottom: 3px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.7;
}

.single-product__text-box p{
    margin-bottom: 1rem;
    line-height: 2;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;

}

.accordion-content {
    display: none;
    padding: 10px;
}

.accordion-item{
    padding: 1em 0;

    
    border-bottom: 1px solid rgba(33, 35, 34, 0.2);
}

.accordion-item:first-of-type{
    border-top: 1px solid rgba(33, 35, 34, 0.2);
}
  
.accordion-header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    cursor: pointer;
}

.accordion-header h3{
    font-size: 1.1rem;
    font-weight: 400;
}


.x-icon {
    position: relative;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
  
  .x-icon::before,
  .x-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 1px; /* Thin line */
    background-color: #000; /* Adjust color as needed */
    transform-origin: center;
  }
  
  .x-icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .x-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

.accordion-header .x-icon {
    transform: rotate(45deg);
    transition: transform 0.3s ease;

}
  
.accordion-header.active .x-icon {
    transform: rotate(90deg);
}

.accordion-content{
    padding: 1.5em 0 .5em;

    margin-bottom: 1rem;
    line-height: 2;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

.accordion-content ul{
    list-style: disc;
    margin-left: 2rem;
}

.accordion-content ul li{
    margin-bottom: .4rem;
}

.accordion-content ul li:last-child{
    margin-bottom: 0;
}


@media (max-width: 1300px){
    .single-product__title{
        font-size: 1.5rem;
    }

    .media-gallery__thumbnails{
        width: 70px;
    
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-height: 510px; /* 6 thumbnails x 80px each + 15px margin each */
        scroll-behavior: smooth;
    }
    
    .media-gallery__thumbnails .gallery-thumbnail{
        width: 70px;
        margin-bottom: 15px;
    
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.3s ease;
    
    }
}

@media (max-width: 1000px){
    .single-product__container{
        padding: 0 30px;
    
    
        display: block;
        gap: 30px;
    }
    
    .single-product__media{
        width: 100%;
        margin-bottom: 30px;
    }

    .single-product__details{
        width: 100%;
        max-width: 660px;
        margin: 0 auto;
    }
}

@media (max-width: 600px){
    .single-product__container{
        padding: 0 18px;
    
    
        display: block;
        gap: 30px;
    }
    
    .single-product__media{
        width: 100%;
        margin-bottom: 30px;
    }

    .single-product__media .media-gallery {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .media-gallery__thumbnails-wrapper{
        display: none;
    }

}



